* {
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
}

body {
    background-color: #f1f1f1;
}

.conteudo {
    width: 500px;
    left: 50%;
    position: absolute;
    margin: 0 0 0 -250px;
}

.conteudo .calendario header {
    position: relative;
}

.conteudo,
.calendario {
    position: relative;
}

.calendario {
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

.ant {
    left: 80px;
}

.prox {
    right: 80px;
}

.ant:hover,
.prox:hover {
    background-color: #cbd1d2;
    color: #f9f9f9;
}

.calendario table {
    margin-top: 20px;
    border-collapse: collapse;
}

.calendario header {
    font-weight: 600;
    text-transform: uppercase;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

.calendario thead {
    background-color: white;
    font-size: 600;
    text-transform: uppercase;
}

.calendario td {
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendario tbody td {
    cursor: pointer;
}

.calendario tbody td:hover {
    background: rgb(0, 173, 233, 0.8);
    color: #f9f9f9;
}

.calendario table .dia-atual {
    background: #00addf;
    color: #f9f9f9;
}

.calendario .mes-anterior,
.calendario .prox-mes {
    color: #cbd1d2;
}

.calendario .mes-anterior:hover,
.calendario .prox-mes:hover {
    background: #98a0a0;
}

.event {
    position: relative;
}

.event:after {
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #2e00fa;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover {
    background: #f9f9f9;
}

.event.dia-atual::after {
    background: #f9f9f9;
}

.dom {
    color: #ff0000;
}

.event-rodape {
    position: relative;
}

.event-rodape:after {
    content: '';
    width: 7px;
    height: 7px;
    left: 75%;
    top: 26px;
    bottom: 7px;
    margin: -4.5px 0 0 -4.5px;
    background: #2e00fa;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event-rodape:hover {
    background: #f9f9f9;
}

#margin {
    padding-left: 380px;
}

.volta {
    margin-right: 310px;
}

.volta {
    position: absolute;
    left: 70px;
    top: 20px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.volta:hover {
    background-color: #cbd1d2;
    color: #f9f9f9;
}

.proximo {
    position: absolute;
    left: 395px;
    top: 20px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.proximo:hover {
    background-color: #cbd1d2;
    color: #f9f9f9;
}

.voltar {
    position: absolute;
    left: 80px;
    top: 12px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.voltar:hover {
    background-color: #cbd1d2;
    color: #f9f9f9;
}

.proximos {
    position: absolute;
    left: 395px;
    top: 10px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}

.proximos:hover {
    background-color: #cbd1d2;
    color: #f9f9f9;
}