body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #327fa8;
    width: 100vw;
    height: 100vh;
}
table{
    width: 100%;
    height: 34em;
}
caption{
    font-size: 50px;
    text-transform: uppercase;
}
table, tr, td, th{
    border: 2px #fff solid;
    border-collapse: collapse;
    color: #fff;
}
th{
    font-size: 25px;
    width: 14.28571428571429%;
}
th:nth-child(1){
    color: #e91010;
}
td{
    text-align: center;
    font-size: 30px;
}
td:nth-child(1) {
    color: #e91010;
}
.body{
    width: 100%;
    height: 100%;
}
.up{
    height: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.arrow{
    width: 75px;
    margin: 25px;
    color: #fff;
}
.arrow-blocked{
    opacity: 0.5;
    cursor: no-drop;
}
.calendario{
    width: 80%;
    height: 100%;
}
.down{
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.down a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
.down a:hover{
    color: #000;
}